@media (max-width: 1024px) {
  .header {
    &__nav {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }

  .advantages {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .team {
    &__grid {
