@media (max-width: 768px) {
  .privacy-page {
    .breadcrumbs {
      margin: 20px 0;
    }
  }

  .hero {
    background: url('../img/hero-mini.avif') center/cover no-repeat;
    &::before {
      content: none;
    }

    &__content {
