


      font-size: 9px;
      font-weight: 900;
    }
  }

  &__map {
    border-radius: var(--radius);
    min-height: 320px;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 320px;
      border: 0;
      border-radius: var(--radius);
    }
  }
}
