.ticker {
  background: var(--c-accent);
  color: var(--c-dark);
  padding: 16px 0;
  overflow: hidden;

  &__track {
    display: flex;
  }

  &__items {
    display: flex;
    gap: 12px;
    white-space: nowrap;
    flex-shrink: 0;
    padding-right: 12px;
